.nav-person-heading
{
  float: left;
  padding: 14px 16px 0px 0px;
  font-size: 16px;
  font-weight: 400;
}
.nav-person
{
  float: left;
  padding: 12px 0px 0px 0px;
}
.navbar-header h4
{
  padding: 7px 0px 6px 0px;
}
@media (min-width: 768px)
{
  .navbar-right {
    float: right!important;
    margin-right: 0px;
  }
}
